<form class="form" ng-submit="submit()" ng-controller="GridFilterCtrl">
	<div class = row>
		<div class="col-md-3">
			<ul class="list-group">
 				<button class="list-group-item list-group-item-success">
					<strong>Name</strong>
					<span type="button" class="btn-xs btn-warning pull-right" ng-click="search.countryName = ''">Reset</span>
				</button>
				<li class="list-group-item">
					<input type="text" class="form-control" placeholder="Country Name" ng-model="search.countryName">
				</li>
			</ul>
			<ul class="list-group">
				<button type="button" class="list-group-item list-group-item-success">
					<strong>Code</strong>
					<span type="button" class="btn-xs btn-warning pull-right" ng-click="search.countryCode = ''">Reset</span>
				</button>
				<li class="list-group-item">
					<div role="group" class="btn-group-xs">
						<button type="button" class="btn btn-primary" ng-click="search.countryCode = 'AR'">AR</button>
						<button type="button" class="btn btn-primary" ng-click="search.countryCode = 'IN'">IN</button>
						<button type="button" class="btn btn-primary" ng-click="search.countryCode = 'US'">US</button>
						<button type="button" class="btn btn-primary" ng-click="search.countryCode = 'BR'">BR</button>
						<button type="button" class="btn btn-primary" ng-click="search.countryCode = 'IO'">IO</button>
					</div>
				</li>
			</ul>
			<ul class="list-group">
				<button type="button" class="list-group-item list-group-item-success">
					<strong>Population (mil)</strong>
					<span type="button" class="btn-xs btn-warning pull-right" ng-click="minPop = 0;maxPop = MAX_POP;">Reset</span>
				</button>
				<li class="list-group-item">
					<div role="group" class="btn-group-xs">
						<button type="button" class="btn btn-primary" ng-click="minPop = 0; maxPop = 10000000;"><10</button>
						<button type="button" class="btn btn-primary" ng-click="minPop = 10000000; maxPop = 50000000;">10-50</button>
						<button type="button" class="btn btn-primary" ng-click="minPop = 50000000; maxPop = 100000000;">50-100</button>
						<button type="button" class="btn btn-primary" ng-click="minPop = 100000000; maxPop = MAX_POP;">>100</button>
					</div>
				</li>
			</ul>
			<ul class="list-group">
				<button type="button" class="list-group-item list-group-item-success">
					<strong>Population</strong>
					<span type="button" class="btn-xs btn-warning pull-right" ng-click="minPop = 0;maxPop = MAX_POP;">Reset</span>
				</button>
				<li class="list-group-item">
					<rzslider rz-slider-model="minPop"
							  rz-slider-high="maxPop"
							  rz-slider-options="slider1.options"></rzslider>
				</li>
			</ul>
			<ul class="list-group">
				<button type="button" class="list-group-item list-group-item-success">
					<strong>Area (sq km)</strong>
					<span type="button" class="btn-xs btn-warning pull-right" ng-click="minArea = 0;maxArea = MAX_AREA;">Reset</span>
				</button>
				<li class="list-group-item">
					<rzslider rz-slider-model="minArea"
							  rz-slider-high="maxArea"
							  rz-slider-options="slider2.options"></rzslider>
				</li>
			</ul>
		</div>
		<div class="col-md-9">
			<div class="alert alert-warning" role="alert">
				<strong>Name</strong> ['%{{search.countryName}}%'],
				<strong>Code</strong> [{{search.countryCode}}],
				<strong>Population</strong> [{{minPop}} - {{maxPop}}],
				<strong>Area</strong> [{{minArea}} - {{maxArea}}] sqkm:
				<h3>{{filtered.length}} of {{countries.length}} countries</h3>
			</div>
			<table class="table table-striped table-bordered table-hover table-condensed table-scrollable">
			<thead>
			<tr class="info">
			<th class="animate-repeat" ng-repeat="val in labels">{{val}}</th>
			</tr>
			</thead>
			<tbody>
				<tr class="animate-repeat" ng-repeat="country in countries |
				filter:search |
				filter:byRange('population', minPop, maxPop)|
				filter:byRange('areaInSqKm', minArea, maxArea) as filtered">

					<td> {{$index + 1}}</td>
					<td> <span class="pull-left">{{country.countryCode}}</span></td>
					<td> <span class="pull-left">{{country.countryName}}</span></td>
					<td> <span class="pull-left">{{country.population}}</span></td>
					<td> <span class="pull-left">{{country.areaInSqKm}}</span></td>
				</tr>
			</tbody>
			</table>
		</div>
	<div>
</form>