<form class="form" ng-submit="submit()" ng-controller="GridFilterCtrl">
	<div class = row>
		<div class="col-md-3">
			<ul class="list-group">
 				<button class="list-group-item list-group-item-success">
					<strong>Name</strong>
					<span type="button" class="btn-xs btn-warning pull-right" ng-click="search.country = ''">Reset</span>
				</button>
				<li class="list-group-item">
					<input type="text" class="form-control" placeholder="Country Name" ng-model="search.country">
				</li>
			</ul>
			<ul class="list-group">
				<button type="button" class="list-group-item list-group-item-success">
					<strong>Contains</strong>
					<span type="button" class="btn-xs btn-warning pull-right" ng-click="search.country = ''">Reset</span>
				</button>
				<li class="list-group-item">
					<div role="group" class="btn-group-xs">
						<button type="button" class="btn btn-primary" ng-click="search.country = 'ar'">ar</button>
						<button type="button" class="btn btn-primary" ng-click="search.country = 'ba'">ba</button>
						<button type="button" class="btn btn-primary" ng-click="search.country = 'ja'">ja</button>
						<button type="button" class="btn btn-primary" ng-click="search.country = 'un'">un</button>
					</div>
				</li>
			</ul>
			<ul class="list-group">
				<button type="button" class="list-group-item list-group-item-success">
					<strong>Population (mil)</strong>
					<span type="button" class="btn-xs btn-warning pull-right" ng-click="minPop = 0;maxPop = MAX_POP;">Reset</span>
				</button>
				<li class="list-group-item">
					<div role="group" class="btn-group-xs">
						<button type="button" class="btn btn-primary" ng-click="minPop = 0; maxPop = MAX_POP;"><10</button>
						<button type="button" class="btn btn-primary" ng-click="minPop = 10000000; maxPop = 50000000;">10-50</button>
						<button type="button" class="btn btn-primary" ng-click="minPop = 50000000; maxPop = 100000000;">50-100</button>
						<button type="button" class="btn btn-primary" ng-click="minPop = 100000000; maxPop = MAX_POP;">>100</button>
					</div>
				</li>
			</ul>
			<ul class="list-group">
				<button type="button" class="list-group-item list-group-item-success">
					<strong>Population (mil)</strong>
					<span type="button" class="btn-xs btn-warning pull-right" ng-click="minPop = 0;maxPop = MAX_POP;">Reset</span>
				</button>
				<li class="list-group-item">
					<rzslider rz-slider-model="minPop"
							  rz-slider-high="maxPop"
							  rz-slider-options="slider.options"></rzslider>
				</li>
			</ul>
		</div>
		<div class="col-md-9">
			<div class="alert alert-warning" role="alert">
				<h4><strong>Country</strong> ['%{{search.country}}%'] & <strong>Population</strong> [{{minPop}} - {{maxPop}}] : [<strong>{{filtered.length}}</strong> of {{countries.length}}]</h4>
			</div>
			<table class="table table-striped table-bordered table-hover table-condensed table-scrollable">
			<thead>
			<tr class="info">
			<th class="animate-repeat" ng-repeat="val in labels">{{val}}</th>
			</tr>
			</thead>
			<tbody>
				<tr class="animate-repeat" ng-repeat="country in countries | filter:search | filter:byRange('population', minPop, maxPop) as filtered">
					<td> {{$index + 1}}</td>
					<td> <span class="pull-left">{{country.country}}</span></td>
					<td> <span class="pull-left">{{country.population}}</span></td>
				</tr>
			</tbody>
			</table>
		</div>
	<div>
</form>