<form class="form" ng-submit="submit()" ng-controller="GridFilterCtrl">
	<div class = "row">
		<div class="col-md-3">
			<ul class="list-group">
 				<button class="list-group-item">
					<strong>Name</strong>
					<span type="button" class="btn-xs btn-warning pull-right" ng-click="search.countryName = ''">Reset</span>
				</button>
				<li class="list-group-item">
					<input type="text" class="form-control" placeholder="Country Name" ng-model="search.countryName">
				</li>
			</ul>
			<ul class="list-group">
				<button type="button" class="list-group-item">
					<strong>Code</strong>
					<span type="button" class="btn-xs btn-warning pull-right" ng-click="search.countryCode = ''">Reset</span>
				</button>
				<li class="list-group-item">
					<div role="group" class="btn-group-xs">
						<button type="button" class="btn btn-primary" ng-click="search.countryCode = 'AR'">AR</button>
						<button type="button" class="btn btn-primary" ng-click="search.countryCode = 'IN'">IN</button>
						<button type="button" class="btn btn-primary" ng-click="search.countryCode = 'US'">US</button>
						<button type="button" class="btn btn-primary" ng-click="search.countryCode = 'BR'">BR</button>
						<button type="button" class="btn btn-primary" ng-click="search.countryCode = 'IO'">IO</button>
					</div>
				</li>
			</ul>
			<ul class="list-group">
				<button type="button" class="list-group-item">
					<strong>Population (mil)</strong>
					<span type="button" class="btn-xs btn-warning pull-right" ng-click="minPop = MIN_POP;maxPop = MAX_POP;">Reset</span>
				</button>
				<li class="list-group-item">
					<div role="group" class="btn-group-xs">
						<button type="button" class="btn btn-primary" ng-click="minPop = MIN_POP; maxPop = 10000000;"><10</button>
						<button type="button" class="btn btn-primary" ng-click="minPop = 10000000; maxPop = 50000000;">10-50</button>
						<button type="button" class="btn btn-primary" ng-click="minPop = 50000000; maxPop = 100000000;">50-100</button>
						<button type="button" class="btn btn-primary" ng-click="minPop = 100000000; maxPop = MAX_POP;">>100</button>
					</div>
				</li>
			</ul>
			<ul class="list-group">
				<button type="button" class="list-group-item">
					<strong>Population</strong>
					<span type="button" class="btn-xs btn-warning pull-right" ng-click="minPop = MIN_POP;maxPop = MAX_POP;">Reset</span>
				</button>
				<li class="list-group-item">
					<rzslider rz-slider-model="minPop"
							  rz-slider-high="maxPop"
							  rz-slider-options="slider1.options"></rzslider>
				</li>
			</ul>
			<ul class="list-group">
				<button type="button" class="list-group-item">
					<strong>Area (sq km)</strong>
					<span type="button" class="btn-xs btn-warning pull-right" ng-click="minArea = MIN_AREA;maxArea = MAX_AREA;">Reset</span>
				</button>
				<li class="list-group-item">
					<rzslider rz-slider-model="minArea"
							  rz-slider-high="maxArea"
							  rz-slider-options="slider2.options"></rzslider>
				</li>
			</ul>
		</div>
		<div class="col-md-9">
			<div class="alert alert-warning" role="alert">
				<strong>Name</strong> ['%{{search.countryName}}%'],
				<strong>Code</strong> [{{search.countryCode}}],
				<strong>Population</strong> [{{minPop}} - {{maxPop}}],
				<strong>Area</strong> [{{minArea}} - {{maxArea}}] sqkm:
				<h3>{{filtered.length}} of {{countries.length}} countries</h3>
			</div>

			<div class="row" style="height:40px;">
				<a class="btn btn-default pull-left">
				  	<i class="glyphicon glyphicon-th pull-left" ng-click="view='grid'"></i>
				</a>
				<a class="btn btn-default pull-left">
					<i class="glyphicon glyphicon-th-list pull-left" ng-click="view='list'"></i>
				</a>
				<a class="btn btn-default pull-left">
					<i class="glyphicon glyphicon-flag pull-left" ng-click="view='flag'"></i>
				</a>
			</div>

			<div class="row">
				<table ng-show="view=='grid'" class="table table-striped table-bordered table-hover table-condensed table-scrollable">
				<thead>
				<tr class="info">
				<th class="animate-repeat" ng-repeat="val in labels">{{val}}</th>
				</tr>
				</thead>
				<tbody>
					<tr class="animate-repeat" ng-repeat="country in countries |
					filter:search |
					filter:byRange('population', minPop, maxPop)|
					filter:byRange('areaInSqKm', minArea, maxArea) as filtered">
						<td> {{$index + 1}}</td>
						<td> <span class="pull-left">{{country.countryCode}}</span></td>
						<td> <span class="pull-left">{{country.countryName}}</span></td>
						<td> <span class="pull-left">{{country.population | number:0}}</span></td>
						<td> <span class="pull-left">{{country.areaInSqKm | number:0}}</span></td>
						<td> <span class="pull-left">
							<img ng-src="..\app\images\{{country.countryCode}}.png"
								fallback-src="..\app\images\error.png"
								title="{{country.countryName}}" height="20px">
							</img></span>
						</td>
					</tr>
				</tbody>
				</table>

				<ul ng-show="view=='list'" class="list-group">
					<li class="list-group-item" class="animate-repeat" ng-repeat="country in countries |
					filter:search |
					filter:byRange('population', minPop, maxPop)|
					filter:byRange('areaInSqKm', minArea, maxArea) as filtered">
						<a href="#" class="list-group-item">
							 <h4>
							 	<img ng-src="..\app\images\{{country.countryCode}}.png"
									fallback-src="..\app\images\error.png"
									title="{{country.countryName}}" height="20px">
								</img>
								<span>{{country.countryName}}</span>
								<span>{{country.areaInSqKm | number:0}} SqKm.</span>
								<span>{{country.population | number:0}}</span>
							 </h4>
						</a>
					</li>
				</ul>
				<!-- Flags View -->
				<div ng-show="view=='flag'" class="animate-repeat" ng-repeat="country in countries |
					filter:search |
					filter:byRange('population', minPop, maxPop)|
					filter:byRange('areaInSqKm', minArea, maxArea) as filtered">
					<span class="pull-left">
						<img ng-src="..\app\images\{{country.countryCode}}.png"
							fallback-src="..\app\images\error.png"
							title="{{country.countryName}}" hspace="4" vspace="2" height="20px">
						</img>
					</span>
				</div>
			</div><!-- row-->
		</div><!-- col-md-9-->
	<div><!-- row-->
</form>